nav{
    background: rgba(0, 0, 0, 0.3);
    max-width: max-content;
    display: block;
    padding: 7px 17px;
    z-index: 2;
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    bottom: 20px;
    display: flex;
    gap: 8px;
    border-radius: 30px;
    backdrop-filter: blur(15px);
}
nav a{
    background: transparent;
    padding: 9px;
    border-radius: 50%;
    display: flex;
    color: var(--color-light);
    font-size: 20px;
}
nav a:hover{
    background: rgba(0, 0, 0, 0.3);
}
nav a.active {
    background: var(--color-bg);
    color: var(--color-white);
}